.blink{
    animation-name: blink;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}

d{
    background-color: rgb(184, 184, 184);
}
@keyframes blink{
    from{
        border-right: 2px solid black;
    }
    to{
        border-right: none;
    }
}